* {
  font-family: "Noto Sans SC";
  margin: 0;
  padding: 0;
}

.wish {
  height: 0px;
  overflow: hidden;
}

.hasexpired {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.imageKon2 {
  transform: rotate(0deg);
}

.holdHeader {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
}

.holdLogo {
  padding-left: 60px;
}
.logo {
  height: 65px;
  cursor: pointer;
}

.holdNav {
  padding-right: 60px;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.link {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #3359b0;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  transition: 0.5s;
  border: 1px solid transparent;
}

.link:hover {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #3359b0;
}

.holdHeros {
  width: 100%;
  height: 85vh;
}

.holdHeros2 {
  width: 100%;
  height: 88vh;
  position: absolute;
}

.holdHeros2 img {
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.holdHeros3 {
  width: 100%;
  height: 88vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(
    360deg,
    rgba(51, 89, 176, 0.88) 15.73%,
    rgba(51, 89, 176, 0) 78.51%
  );
}

.holdHeros4 {
  width: 800px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 70px;
}

.holdHeros4 h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 75px;
  color: #ffffff;
}

.peoplePhotos {
  height: 70px;
}
.holdHeros4 p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  width: 560px;
  margin: 10px 0;
}

.holdHeros3s {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.holdHeros5 {
  display: block;
  width: 450px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.Foundedby {
  background-color: #e4e9f5;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.FoundedbyDO {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
  width: 50%;
}

.FoundedbyDO h1 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3359b0;
  border-left: 2px solid #e98d37;
  border-right: 2px solid #e98d37;
  width: fit-content;
  padding: 0 40px;
}

.FoundedbyDO2 {
  padding: 100px;
  width: 50%;
}

.FoundedbyDO2 p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 41px;
  color: #3359b0;
}

.Checkmore {
  background-color: #e98d37 !important;
  color: white !important;
}

.holdFormTop {
  background-color: #e98d37;
  padding: 30px;
  color: white;
}

.holdFormTop h4 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
}

.holdFormTop p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #f8f8f8;
}

.holdFormSecond {
  background-color: white;
  padding: 20px 30px;
}

.holdFormKoko {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 20px;
  margin: 25px 0;
}

.holdFormKoko input {
  width: 100%;
  color: gray;
  border: none;
  outline: none;
}

.holdFormKoko select {
  width: 100%;
  color: gray;
  border: none;
  outline: none;
}

.catch {
  height: 50px;
}

.startCatch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.startCatch button {
  background: #e08735;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 20px;
}

.holdBoxes {
  width: 100%;
  height: auto;
}

.holdBoxes1 {
  width: 100%;
}

.holdBoxes2 {
  margin-top: 50px;
}

.HowDoes {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #3359b0;
  text-align: center;
}

.right1 {
  border-left: 2px solid #e98d37;
  border-right: 2px solid #e98d37;
  padding-left: 10px;
  padding-right: 10px;
}

.right2 {
  border-right: 2px solid #e98d37;
  padding-right: 10px;
}

.holdSmaillBoxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 0;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
}

.holdSmaillBoxes1 {
  width: 180px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  /* background: #d7e3ff; */
  border-radius: 10px;
  padding: 10px;
}

.holdSmaillBoxes1 h3 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #3359b0;
  margin: 10px 0;
}

.p1Imafe {
  height: 190px;
  width: 100%;
  border-radius: 10px;
}

.holdSmaillBoxes1 p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #565656;
}

.hold1 {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin: 0;
}

.hold1 img {
  height: 20px;
  width: 40px;
}

.PracticeAreas {
  height: 80vh;
  width: 100%;
  background-color: #edf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1Practice {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #3359b0;
  border-left: 2px solid #e98d37;
  padding-left: 20px;
  border-right: 2px solid #e98d37;
  padding-right: 20px;
  width: fit-content;
  margin-bottom: 90px;
}

.holdH1Practice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.PracticeAreasHold {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list ul {
  list-style: none;
}

.list p {
  font-family: "Noto Sans SC";
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #3359b0;
  line-height: 40px;
  width: 500px;
  margin: 20px 0;
}

.list ul li {
  font-size: 17px;
  color: #3359b0;
  padding: 10px 0;
}

.list ul li span {
  margin-right: 10px;
  color: #e08735;
}

.Testimonials {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kol1 {
  height: 30px;
  margin-right: 20px;
}

.kol2 {
  height: 30px;
  margin-right: 20px;
}

.Rebecca {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #e08735;
}

.Ellipse10 {
  height: 56%;
  position: absolute;
  margin-top: 220px;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.smallCircle {
  width: 70px;
  height: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallCircle div {
  width: 10px;
  height: 10px;
  background-color: #eaebff;
  border-radius: 50%;
  cursor: pointer;
}

.smallCirclekokoQ {
  width: 10px;
  height: 10px;
  background-color: #8085cd !important;
  border-radius: 50%;
  cursor: pointer;
}

.smallCirclekokoQ {
  width: 10px;
  height: 10px;
  background-color: #8085cd;
  border-radius: 50%;
  cursor: pointer;
}

.frequency {
  padding: 120px 0;
  height: auto;
  width: 100%;
  background-color: #edf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frequency2 {
  width: 900px;
}

.freH1 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #3359b0;
  border-left: 2px solid #e98d37;
  padding-left: 20px;
  border-right: 2px solid #e98d37;
  padding-right: 20px;
  margin-bottom: 30px;
  width: fit-content;
}

.freP {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  align-items: center;
  color: #3359b0;
  width: 450px;
  text-align: center;
  margin-bottom: 30px;
}

.LocationsJK {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LocationsJK2 {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.LocationsJK2 ul {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.frequentlyKOKo {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: baseline;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.frequentlyKOKo2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.holdGentlemen {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.holdGentlemen img {
  height: 100%;
  width: 100%;
}

.holdGentlemen2 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    270deg,
    #ffffff 27.58%,
    rgba(255, 255, 255, 0) 58.11%
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.holdGentlemen2WQ {
  padding: 0 90px;
}

.holdGentlemen2WQ h2 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: #3359b0;
  width: 400px;
  margin-bottom: 30px;
}

.holdGentlemen2WQ p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #e08735;
}

.inputGbe6 {
  background: #ffffff;
  box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
}

.inputGbe612 {
  background: #e08735;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  color: white;
}

.freH1Asked {
  display: flex;
  justify-content: center;
}
.TomCircle {
  width: 10px;
  height: 10px;
  background-color: #e08735;
  border-radius: 50%;
  margin-right: 15px;
}

.TomCircleR {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #7c7c7c;
  width: 100%;
  cursor: pointer;
}

.imageKon {
  height: 20px;
  margin-bottom: -5px;
  margin-left: 10px;
}

.holdImage img {
  width: 100%;
  height: 150vh;
}

.Readfor {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #3359b0;
  border-left: 2px solid #e98d37;
  padding-left: 20px;
  border-right: 2px solid #e98d37;
  padding-right: 20px;
  margin-bottom: 30px;
  width: fit-content;
}
.holdFooter {
  background: #3359b0;
  position: absolute;
  width: 100%;
}

.holdFirstHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.holdFirstHead h1 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #e98d37;
  margin-top: 40px;
}

.holdFirstHead p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #e98d37;
  width: 500px;
  margin-top: 10px;
  text-align: center;
}

.quickLink {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.quickLink2 {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.quickLinkHome h1 {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
}

.unorderList {
  list-style: none;
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
}

.Startchat {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.Startchat2 {
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.Startchat2H1 {
  font-size: 20px;
  color: white;
}

.Startchat2P {
  width: 150px;
  color: white;
}

.holdFollowHead {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
}

.holdSocialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.holdSocialMedia img {
  height: 30px;
  margin-bottom: 20px;
}

.H1Email {
  font-size: 20px;
  color: white;
}

.H1p {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
}

.TomP1Circle {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #7c7c7c;
  transition: 0.5s;
}

.holdNav12 {
  display: block;
}

.fa {
  display: none !important;
}

.holdHeros5TATA5 {
  display: none;
}

.copyRight {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}

.holdLine {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holdLineDF {
  width: 900px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holdLine2 {
  height: 1px;
  width: 400px;
  background-color: white;
}

.holdLine3 {
  height: 1px;
  width: 200px;
  background-color: white;
}

.Followus {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 40px;
  color: #ffffff;
}

.Followus2 {
  height: 30px;
}

.Followus2s {
  height: 30px;
  margin: 0 10px;
}

@media only screen and (max-width: 1200px) {
  .holdLineDF {
    width: 100%;
    padding: 0 20px;
  }

  .holdLine2 {
    display: none;
  }

  .holdLine3 {
    display: none;
  }

  .holdGentlemen {
    height: 60vh;
  }

  .holdGentlemen2 {
    height: 60vh;
  }

  .holdGentlemen2WQ {
    padding: 10px;
  }

  .LocationsJK2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 30px;
    width: 100%;
  }

  .holdGentlemen2WQ h2 {
    width: 100%;
    text-align: center;
  }

  .inputGbe6 {
    width: 90%;
  }

  .FoundedbyDO {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
  }

  .FoundedbyDO h1 {
    font-size: 25px;
  }

  .FoundedbyDO2 {
    width: 100%;
    padding: 0;
  }

  .FoundedbyDO2 p {
    padding: 20px;
    text-align: justify;
  }

  .Foundedby {
    flex-direction: column;
  }
  .holdHeader {
    height: 8vh;
  }
  .holdLogo {
    margin: 0;
    padding: 10px;
  }

  .holdNav {
    padding: 0;
  }

  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid #d7d7d7;
    width: 200px;
    border-radius: 5px;
    padding: 5px 0;
    right: 0;
    top: 50px;
  }

  .fa {
    display: block !important;
    font-size: 30px !important;
    color: dimgrey !important;
    margin-right: 10px;
  }

  .navList li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .holdNav12s {
    display: none;
  }

  .holdHeros {
    margin: 0;
    height: 500px;
  }

  .holdHeros2f {
    height: 500px;
  }

  .holdHeros3 {
    height: 500px;
  }

  .holdHeros4 {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .holdHeros2 img {
    height: 500px;
  }

  .holdHeros4 h1 {
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
  }

  .holdHeros4 p {
    width: 90%;
    padding: 10px;
    text-align: center;
  }

  .holdButton {
    padding: 10px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
  }

  .holdBoxes1 {
    width: 100%;
    margin: 0;
  }

  .holdBoxes2 {
    margin-top: 20px;
  }

  .holdBoxes1 {
    width: 100%;
    margin: 0;
  }

  .holdBoxes2 {
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
  }

  .HowDoes {
    font-size: 19px;
    width: 100%;
  }

  .holdSmaillBoxes {
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
  }

  .holdSmaillBoxes1 {
    width: 85%;
  }

  .PracticeAreas {
    justify-content: center;
    height: auto;
  }

  .PracticeAreasHold {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .h1Practice {
    margin: 20px 0;
    text-align: center;
    font-size: 23px;
  }

  .list {
    margin: 20px 0;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
  }

  .list p {
    width: 100%;
  }

  .Testimonials {
    height: auto;
    margin: 40px 0;
  }

  .Ellipse10 {
    height: auto;
    margin-top: -264px;
  }

  .frequency2 {
    margin: 0;
    width: 100%;
    padding: 10px;
  }

  .frequency2Now {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .freH1 {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .freP {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  .TomCircleR {
    width: 100%;
  }

  .frequency {
    padding: 30px 0;
  }

  .ReadAnswers {
    height: 170vh;
    padding: 50px 0;
  }

  .holdImage {
    height: 170vh;
  }

  .holdImage img {
    height: 170vh;
    padding: 70px 0;
  }

  .holdReadMe {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .holdFirstHead {
    padding: 30px;
  }

  .holdFirstHead h1 {
    margin: 0;
    font-size: 25px;
    text-align: center;
  }

  .holdFirstHead p {
    width: 100%;
    font-size: 18px;
  }

  .quickLink2 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  .holdSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }

  .Startchat {
    justify-content: center;
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
  }

  .Startchat2 {
    height: 30px;
    margin: 10px 0;
  }

  .termofuse {
    text-align: center;
    margin-top: 30px;
  }

  .theInfo {
    text-align: justify;
    padding: 15px;
  }

  .holdHeros5 {
    display: none;
    width: 100%;
    margin: 30px 0;
  }

  .holdFormTop {
    margin: 10px;
  }

  .holdFormSecond {
    margin: 10px;
  }

  .holdHeros5TATA {
    display: none;
  }

  .holdHeros5TATA5 {
    display: block;
    width: 100%;
    margin: 30px 0;
    border-radius: 5px;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
    top: 175px;
    left: 100%;
    box-shadow: 5px 5px 5px #f1f1f1, -5px -5px 5px #f1f1f1;
  }
}
